<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <img class="light" src="/assets/images/CVWD_Logo_Dark_Trans.png" alt="" width="200" height="200" aria-hidden="true" decoding="async">
            <img class="dark" src="/assets/images/CVWD_Logo_Light_Trans.png" alt="logo" width="200" height="200" aria-hidden="true" decoding="async">
            {# <p>
                Extra content if you need it, if not you can delete this whole p tag. I usually do.
            </p> #}
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Web Design</li>
                    <li>Website Maintenance</li>
                    <li>Content Creation</li>
                    <li>SEO Services</li>
                    <li>Logo Design</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Champlain Valley Web Design</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
