---
title: 'Project One | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RTsbs-71">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Laptop_1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Laptop_1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/Laptop_1.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">A Different Approach To Web Design & Development</h2>
            <p class="cs-text">
                Embracing a code-first approach, we steer clear of WordPress, frameworks, and page builders. Our meticulous hand-crafted code ensures unparalleled control over design precision and lightning-fast website performance.            </p>
            <p class="cs-text">By bypassing bloated or cluttered code, our sites outperform WordPress counterparts, delivering superior speed and efficiency at a fraction of the cost. In the online arena, swifter, organized websites reign supreme.</p>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-71">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Consult_1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Consult_1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/Consult_1.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">SEO Services</span>
            <h2 class="cs-title">Search Engine Optimisation For 2024</h2>
            <p class="cs-text">
                If someone tells you they can get you to the front page of Google in 3 months - RUN! Unless your website was featured by The New York Times it could take years to rank in the top of the search results.
            </p>
            <p class="cs-text">We offer a number of the latest search engine optimisation techniques for 2024:</p>
                    <div class="cs-wrapper">
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Keyword-Centred Content & Blogs
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Mobile-First-Optimised for the Best Experience

                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Clean & Organised Code Structure For Web Crawlers
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Fully Responsive For Mobile, Tablet, & Desktop
                </li>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Triplet             -->
<!-- ============================================ -->

<section id="RTsbst-71">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Setup_1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Setup_1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/Setup_1.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Design Services</span>
            <h2 class="cs-title">Logos, Graphic Design, & Branding</h2>
            <p class="cs-text">
                We also offer logo and graphic design services via our own in-house graphic designer. If you have an existing logo that needs a touch up or need a completely new one we can help build your business's brand.
            </p>
            {# <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> #}
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-71">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Consult_1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Consult_1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/Consult_1.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Ongoing maintenance</span>
            <h2 class="cs-title">Lifetime Edits For Your Website</h2>
            <p class="cs-text">
                Google changes it's search alogrithm standards every so often, changing what is important to rank. And web accessibility guidelines for users with screen readers get updated as well. So we also include updates to your website for the life of your subscription to make sure it never goes out of date and is always changing with the times.
            </p>
            <p class="cs-text">We offer a number of the latest search engine optimisation techniques for 2024:</p>
                    <div class="cs-wrapper">
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Design Edits: If you ever want a enhancements in site design, we will work with you to edit.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Web Accessibility: Staying on top of the latest guidelines for web accessibility compliance.


                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Search Engine Updates: Your website will stay up to date with Google's search guidelines for ranking.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check-red.svg" alt="checkmark" width="24" height="24">
                    Google Business Profile: We also help optimize and manage your Google, Bing, & Yahoo Business Profile
                </li>
            </div>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}